*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-start button{
    position: absolute;
    top: 20rem;
    right: 5rem;
    height: 4rem;
    width: 8rem;
}


.game-container{
    height: 100vh;
    width:100%;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;

}
.game-container h1{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}
.game-board{
    --cols:60;
    --rows: 30;
    --cell-size: min(
        calc(79vw/var(--cols)),
        calc(79vh / var(--rows))
    );
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--cell-size));
    grid-template-rows: repeat(var(--rows), var(--cell-size));
    gap: 1px;
    background-color: #333;
    overflow: hidden;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    /* border: 1px solid white; */
}
.snake{
    background-color: limegreen;
    width: 100%;
    height: 100%;
}

.snake-head{
    background-color: #006400;
       
}
.food{
    background-color: red;
    width: 100%;
    height: 100%;
}
h2{
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
}