*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-start button{
    position: absolute;
    top: 20rem;
    right: 5rem;
    height: 4rem;
    width: 8rem;
}
.score button{
    position: absolute;
    top: 26rem;
    right: 5rem;
    height: 4rem;
    width: 8rem;
}

.game-container{
    height: 100vh;
    width:100%;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;

}
.game-container h1{
    position: absolute;
    top: 2rem;
}
.game-board{
    display: grid;
    grid-template-columns: repeat(60,20px);
    grid-template-rows: repeat(30,20px);
    gap: 1px;
    background-color: #333;
    overflow: hidden;
}
.cell{
    width: 25px;
    height: 25px;
    background-color: #222;
    /* border: 1px solid white; */
}
.snake{
    background-color: limegreen;
    width: 100%;
    height: 100%;
}
.food{
    background-color: red;
    width: 100%;
    height: 100%;
}